@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

input,
button,
textarea {
  outline: none;
  font-family: "Segoe UI";
  line-height: 1; }

button {
  cursor: pointer; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

@font-face {
  font-family: "Segoe UI";
  src: url("../../libs/fonts/SegoeUI-BoldItalic.woff2") format("woff2"), url("../../libs/fonts/SegoeUI-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Segoe UI";
  src: url("../../libs/fonts/SegoeUI-Bold.woff2") format("woff2"), url("../../libs/fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Segoe UI";
  src: url("../../libs/fonts/SegoeUI.woff2") format("woff2"), url("../../libs/fonts/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Segoe UI";
  src: url("../../libs/fonts/SegoeUI-Italic.woff2") format("woff2"), url("../../libs/fonts/SegoeUI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Segoe UI" !important;
  font-weight: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #4d4d4d;
  height: 100%;
  height: 100vh; }

.br-20 {
  border-radius: 20px; }
  .br-20 img {
    border-radius: 20px; }

.mb-20 {
  margin-bottom: 20px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.title-main {
  color: #2c3133;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  line-height: 35px; }

.sub-title {
  text-align: center;
  margin-bottom: 50px;
  position: relative; }
  .sub-title h2 {
    color: #2c3133;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 35px; }
  .sub-title p {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 19px;
    color: #6d6d6d; }
  .sub-title .bg-left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .sub-title .bg-left .bg-top,
    .sub-title .bg-left .bg-bottom {
      position: absolute;
      width: 100%;
      height: 100%; }
      .sub-title .bg-left .bg-top::before, .sub-title .bg-left .bg-top::after,
      .sub-title .bg-left .bg-bottom::before,
      .sub-title .bg-left .bg-bottom::after {
        content: "";
        position: absolute;
        border-radius: 4px; }
    .sub-title .bg-left .bg-top::before {
      top: -35px;
      left: 155px;
      width: 9px !important;
      height: 10px !important;
      background-color: #a4e6ff; }
    .sub-title .bg-left .bg-top::after {
      top: -13px;
      left: 222px;
      background-color: #62d4ff;
      width: 14px !important;
      height: 14px !important; }
    .sub-title .bg-left .bg-bottom::before {
      top: 8px;
      left: 181px;
      width: 21px !important;
      height: 21px !important;
      background-color: #00aeef;
      border-radius: 6px; }
    .sub-title .bg-left .bg-bottom::after {
      top: 35px;
      left: 110px;
      background-color: #a4e6ff;
      width: 14px !important;
      height: 15px !important; }

@media screen and (max-width: 575px) {
  .sub-title {
    margin-bottom: 25px; }
    .sub-title .bg-left .bg-top::before, .sub-title .bg-left .bg-top::after,
    .sub-title .bg-left .bg-bottom::before,
    .sub-title .bg-left .bg-bottom::after {
      border-radius: 3px; }
    .sub-title .bg-left .bg-top::before {
      top: -25px;
      left: 45px;
      width: 7px !important;
      height: 8px !important; }
    .sub-title .bg-left .bg-top::after {
      top: -13px;
      left: 120px;
      width: 13px !important;
      height: 13px !important; }
    .sub-title .bg-left .bg-bottom::before {
      top: 15px;
      left: 85px;
      width: 16px !important;
      height: 16px !important;
      border-radius: 4px; }
    .sub-title .bg-left .bg-bottom::after {
      top: 30px;
      left: 30px;
      width: 12px !important;
      height: 13px !important; } }

.pagi {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px; }
  .pagi-item {
    margin: 0 3px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear; }
    .pagi-item a {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #5b6062;
      line-height: 18px;
      padding: 10px 15px;
      border-radius: 06px;
      display: block; }
    .pagi-item.is-disabled {
      color: #c4c4c4;
      pointer-events: none; }
      .pagi-item.is-disabled i {
        color: #C4C4C4; }
    .pagi-item:hover a, .pagi-item.is-active a {
      color: #fff;
      background-color: #049cd6; }

.create-time {
  display: flex;
  align-items: center;
  margin-bottom: 0; }
  .create-time span {
    line-height: 20px;
    padding-left: 10px;
    font-family: "Open Sans";
    font-size: 13px;
    color: #535353; }
  .create-time img {
    width: 16px !important;
    height: 16px !important; }

.card-post {
  margin-bottom: 50px; }
  .card-post .thumbnail {
    background-color: #c4c4c4;
    display: block; }
  .card-post img {
    width: 100%;
    object-fit: cover;
    height: 250px; }
  .card-post .time {
    padding: 14px 0 10px;
    margin-bottom: 0;
    display: flex;
    align-items: center; }
    .card-post .time img {
      width: 15px !important;
      height: 15px !important; }
    .card-post .time span {
      padding-left: 8px;
      font-size: 12px;
      line-height: 22px;
      color: #4d555c;
      font-weight: 400; }
  .card-post .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: #000;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-word;
    transition: all 0.2s linear; }
    .card-post .title:hover {
      color: #00aeef !important; }
  .card-post .desc {
    font-size: 14px;
    line-height: 24px;
    color: #4d4d4d;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-word; }

.card-post-horizontal {
  display: flex;
  margin-bottom: 30px; }
  .card-post-horizontal .thumbnail {
    display: block;
    flex-shrink: 0; }
    .card-post-horizontal .thumbnail img {
      width: 100%;
      max-width: 110px;
      height: 70px; }
  .card-post-horizontal .content {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .card-post-horizontal .content .title {
      font-size: 14px;
      color: #262b30;
      line-height: 19px;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      max-width: 100%;
      word-break: break-word; }
      .card-post-horizontal .content .title:hover {
        color: #00aeef; }
    .card-post-horizontal .content .create-time img {
      width: 16.5px !important;
      height: 16.5px !important; }

.btn-text {
  background-color: #00aeef;
  transition: all 0.2s linear;
  border: none;
  min-width: 142px;
  height: 44px;
  text-align: center;
  border-radius: 20px; }
  .btn-text a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; }
  .btn-text:hover, .btn-text:focus {
    outline: none;
    background-color: #0d9dd3; }

.btn-text-xs {
  min-width: 52px;
  height: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #eaeaea;
  color: #54595e;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  border: 0; }
  .btn-text-xs:hover, .btn-text-xs:focus {
    outline: none; }

header {
  height: 0px; }

.head-content .list-cate {
  list-style: none;
  display: flex;
  justify-content: center; }
  .head-content .list-cate li a {
    font-size: 18px;
    color: #b0b0b0;
    padding: 0 25px;
    display: block;
    position: relative;
    line-height: 24px;
    transition: all 0.2s linear; }
    .head-content .list-cate li a::after {
      content: "";
      position: absolute;
      top: 2px;
      right: -2px;
      width: 1px;
      height: 20px;
      background-color: #c6c6c6;
      transition: all 0.2s linear; }
    .head-content .list-cate li a::before {
      content: "";
      position: absolute;
      top: 30px;
      width: 50px;
      height: 2px;
      background-color: transparent;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s linear; }
    .head-content .list-cate li a.active, .head-content .list-cate li a:hover {
      color: #242829; }
      .head-content .list-cate li a.active::before, .head-content .list-cate li a:hover::before {
        transition: all 0.2s linear;
        background-color: #00aeef; }
    .head-content .list-cate li a.active {
      pointer-events: none; }
  .head-content .list-cate li:last-child a::after {
    display: none; }

.list-project {
  margin-top: 60px; }

@media screen and (max-width: 1024px) {
  .head-content .list-cate {
    flex-wrap: wrap; }
    .head-content .list-cate li a {
      max-width: 140px;
      margin-bottom: 25px;
      padding: 0 17px;
      text-align: center; }
      .head-content .list-cate li a.active::before {
        top: 27px;
        width: 45px; }
  .list-project {
    margin-top: 20px; }
    .list-project .card-post {
      margin-bottom: 30px; }
      .list-project .card-post .time {
        padding: 10px 0 7px; } }

.wp-breadcumb {
  background-color: #f1f7fa;
  margin-top: 127px;
  margin-bottom: 50px; }
  .wp-breadcumb .breadcrumb {
    background-color: transparent; }
    .wp-breadcumb .breadcrumb-item + .breadcrumb-item::before {
      content: "\f054";
      font-family: "FontAwesome";
      padding: 0 13px;
      font-size: 10px; }
    .wp-breadcumb .breadcrumb-item {
      height: 44px;
      line-height: 44px;
      padding-left: 0; }
      .wp-breadcumb .breadcrumb-item img {
        display: unset;
        transform: translateY(-3px); }
      .wp-breadcumb .breadcrumb-item a {
        font-size: 14px;
        color: #0f629a; }
    .wp-breadcumb .breadcrumb-item.active {
      color: #2b4052; }

.content-title {
  font-size: 48px;
  font-weight: bold;
  color: #262b30;
  margin-bottom: 10px;
  line-height: 64px; }

.content-desc {
  margin: 30px 0 25px; }
  .content-desc p {
    font-weight: bold;
    color: #262b30;
    margin-bottom: 14px;
    font-size: 15px; }
    .content-desc p span {
      font-weight: normal; }
  .content-desc .auth {
    margin-bottom: 23px;
    font-size: 18px; }

.content-main img {
  max-width: 100%;
  object-fit: cover; }

.content-main p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 24px;
  color: #262b30; }

.content-main h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px; }

.content-main img {
  margin: 30px 0; }

.sidebar {
  margin-top: 20px; }
  .sidebar-title {
    color: #262b30;
    font-size: 28px;
    font-weight: 600;
    line-height: 37px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px; }
  .sidebar .see-more {
    margin-top: 38px; }

.project-relative {
  margin-top: 30px; }
  .project-relative-title {
    color: #262b30;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 30px; }
  .project-relative-slider .owl-nav {
    display: block !important;
    position: absolute;
    top: 35%;
    width: 100%;
    transform: translateY(-50%);
    margin: 0; }
    .project-relative-slider .owl-nav .owl-prev {
      left: -78px; }
    .project-relative-slider .owl-nav .owl-next {
      right: -78px; }
    .project-relative-slider .owl-nav .owl-prev,
    .project-relative-slider .owl-nav .owl-next {
      position: absolute;
      background: #f0f3f4 !important;
      width: 44px;
      height: 44px;
      border-radius: 50% !important;
      color: #230b34 !important; }
      .project-relative-slider .owl-nav .owl-prev:focus,
      .project-relative-slider .owl-nav .owl-next:focus {
        outline: none; }
      .project-relative-slider .owl-nav .owl-prev:hover,
      .project-relative-slider .owl-nav .owl-next:hover {
        background: #d9d9d9 !important; }
      .project-relative-slider .owl-nav .owl-prev img,
      .project-relative-slider .owl-nav .owl-next img {
        margin: 0 auto; }
  .project-relative-slider .owl-dots {
    display: block !important;
    margin-top: 0 !important;
    position: relative;
    top: -20px; }
    .project-relative-slider .owl-dots .owl-dot:focus {
      outline: none; }
    .project-relative-slider .owl-dots .owl-dot.active span, .project-relative-slider .owl-dots .owl-dot:hover span {
      background-color: #00aeef !important; }
    .project-relative-slider .owl-dots .owl-dot span {
      width: 8px !important;
      height: 8px !important; }

@media screen and (max-width: 1024px) {
  .wp-breadcumb {
    margin-bottom: 20px; }
  .content-title {
    font-size: 40px;
    line-height: 50px; }
  .project-relative-slider .owl-nav {
    display: none !important; } }

@media screen and (max-width: 575px) {
  .content-title {
    font-size: 35px; }
  .project-relative {
    margin-top: 40px; }
    .project-relative-title {
      font-size: 25px;
      line-height: 37px;
      margin-bottom: 20px; }
    .project-relative-slider .card-post img {
      height: 190px;
      object-fit: cover; } }

.view-detail {
  color: #1d71b9;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  max-width: 130px; }
  .view-detail img {
    display: inline;
    padding-left: 8px;
    width: auto !important;
    height: auto !important; }
  .view-detail:hover {
    color: #0d9dd3; }

.wp-newest .title-main {
  margin-bottom: 50px; }

.wp-newest-inner {
  display: flex; }

.wp-newest .thumbnail {
  display: block;
  margin-right: 15px;
  width: 630px;
  flex-shrink: 0; }
  .wp-newest .thumbnail img {
    width: 100%;
    height: 410px;
    max-width: 630px;
    object-fit: cover; }

.wp-newest-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between; }

.wp-newest .btn-newest {
  margin-bottom: 20px; }

.wp-newest .time-newest {
  padding: 0; }
  .wp-newest .time-newest img {
    width: 15px !important;
    height: 15px !important; }
  .wp-newest .time-newest span {
    font-family: "Segoe UI";
    font-size: 12px;
    line-height: 12px;
    color: #4d555c;
    padding-left: 8px; }

.wp-newest .title {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
  margin-top: 13px;
  display: block;
  transition: all 0.2s linear; }
  .wp-newest .title:hover {
    color: #00aeef; }

.wp-newest .desc {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #3c4349; }

.list-new {
  margin-top: 50px; }
  .list-new .card-post .thumbnail img {
    height: 240px; }
  .list-new .card-post .time {
    padding-top: 20px;
    padding-bottom: 5px; }
    .list-new .card-post .time span {
      padding-left: 12px; }
  .list-new .card-post .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #000;
    font-family: "Roboto", sans-serif;
    margin-bottom: 18px; }
  .list-new .card-post .desc {
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    margin-bottom: 10px; }

.pagi.pagi-list-new {
  transform: translateY(-12px);
  margin-bottom: 120px; }

.customer {
  padding-bottom: 150px; }
  .customer-item {
    background: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    height: 120px; }
    .customer-item img {
      width: auto !important;
      height: auto !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .customer .owl-dots {
    display: block !important;
    margin-top: 0 !important;
    position: relative;
    top: 25px; }
    .customer .owl-dots .owl-dot:focus {
      outline: none; }
    .customer .owl-dots .owl-dot.active span, .customer .owl-dots .owl-dot:hover span {
      background-color: #00aeef !important; }
    .customer .owl-dots .owl-dot span {
      width: 8px !important;
      height: 8px !important; }

@media screen and (max-width: 1024px) {
  .wp-newest .title-main {
    margin-bottom: 30px; }
  .wp-newest-inner {
    flex-wrap: wrap; }
  .wp-newest .thumbnail {
    margin-right: 0;
    width: 100%; }
    .wp-newest .thumbnail img {
      width: 100%;
      height: 500px;
      max-width: 100%; }
  .wp-newest-content {
    margin-top: 20px;
    display: block; }
  .wp-newest .btn-newest {
    margin-bottom: 10px; }
  .wp-newest .title {
    font-size: 27px; }
  .list-new {
    margin-top: 35px; }
    .list-new .card-post {
      margin-bottom: 25px; }
      .list-new .card-post .thumbnail {
        border-radius: 15px; }
        .list-new .card-post .thumbnail img {
          border-radius: 15px;
          height: 200px; }
      .list-new .card-post .time {
        padding-top: 10px; }
      .list-new .card-post .title {
        margin-bottom: 10px; }
  .pagi.pagi-list-new {
    transform: translateY(0);
    margin-bottom: 60px; }
  .customer-item {
    height: 100px; } }

@media screen and (max-width: 575px) {
  .wp-newest .thumbnail img {
    width: 100%;
    height: 280px;
    max-width: 100%; } }

.content.new-inner .content-desc {
  margin: 24px 0 0;
  font-size: 14px;
  line-height: 28px;
  font-style: italic;
  color: #606870; }

.content.new-inner img {
  margin: 30px 0; }

.content.new-inner .content-main h4 {
  margin-top: 30px;
  margin-bottom: 16px; }

.content.new-inner .content-main p {
  margin-bottom: 12px; }
  .content.new-inner .content-main p span {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px; }

.content.new-inner .content-main h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 12px; }

.new-relative {
  margin-top: 58px; }
  .new-relative-title {
    color: #262b30;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 30px; }
  .new-relative-slider .card-post .thumbnail img {
    height: 240px; }
  .new-relative-slider .card-post .time {
    padding: 20px 0 4px; }
  .new-relative-slider .card-post .title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 18px; }
  .new-relative-slider .card-post .desc {
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    color: #3c4349; }
  .new-relative-slider .owl-nav {
    display: block !important;
    position: absolute;
    top: 35%;
    width: 100%;
    transform: translateY(-50%);
    margin: 0; }
    .new-relative-slider .owl-nav .owl-prev {
      left: -78px; }
    .new-relative-slider .owl-nav .owl-next {
      right: -78px; }
    .new-relative-slider .owl-nav .owl-prev,
    .new-relative-slider .owl-nav .owl-next {
      position: absolute;
      background: #f0f3f4 !important;
      width: 44px;
      height: 44px;
      border-radius: 50% !important;
      color: #230b34 !important; }
      .new-relative-slider .owl-nav .owl-prev:focus,
      .new-relative-slider .owl-nav .owl-next:focus {
        outline: none; }
      .new-relative-slider .owl-nav .owl-prev:hover,
      .new-relative-slider .owl-nav .owl-next:hover {
        background: #d9d9d9 !important; }
      .new-relative-slider .owl-nav .owl-prev img,
      .new-relative-slider .owl-nav .owl-next img {
        margin: 0 auto; }
  .new-relative-slider .owl-dots {
    display: block !important;
    margin-top: 0 !important;
    position: relative;
    top: -20px; }
    .new-relative-slider .owl-dots .owl-dot:focus {
      outline: none; }
    .new-relative-slider .owl-dots .owl-dot.active span, .new-relative-slider .owl-dots .owl-dot:hover span {
      background-color: #00aeef !important; }
    .new-relative-slider .owl-dots .owl-dot span {
      width: 8px !important;
      height: 8px !important; }

.bg-contact {
  height: 680px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 70px; }

.contact-inner {
  display: flex;
  justify-content: space-between; }

.contact-info {
  width: 34%;
  margin-top: 102px; }
  .contact-info .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #09090b;
    margin-bottom: 0; }
  .contact-info .sologan {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #323232;
    margin-top: 12px;
    margin-bottom: 37px;
    padding-right: 8px; }

.contact-location {
  padding-right: 20px; }
  .contact-location p {
    margin-bottom: 15px;
    display: flex; }
    .contact-location p img {
      margin-right: 9px;
      display: block; }
    .contact-location p span {
      font-size: 18px;
      line-height: 28px;
      color: #323232;
      display: block; }
  .contact-location p:nth-child(3) {
    align-items: baseline;
    margin-right: 10px; }
    .contact-location p:nth-child(3) img {
      margin-right: 10px; }

.contact-form {
  width: 57.5%;
  background: #ffffff;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.16);
  padding: 50px; }
  .contact-form .title {
    margin-bottom: 12px; }
  .contact-form .sologan {
    font-size: 14px;
    line-height: 19px;
    color: #6d6d6d; }
  .contact-form-inner {
    margin-top: 32px; }
    .contact-form-inner input,
    .contact-form-inner textarea {
      width: 50%;
      height: 50px;
      background: #ffffff;
      border: 0.75px solid #d2d2d2;
      border-radius: 12px;
      color: #323232;
      font-size: 16px;
      line-height: 22px;
      padding: 14px 16px;
      margin-bottom: 20px;
      transition: all 0.2s linear; }
      .contact-form-inner input::placeholder,
      .contact-form-inner textarea::placeholder {
        color: #999ba1;
        opacity: 1; }
      .contact-form-inner input:-ms-input-placeholder,
      .contact-form-inner textarea:-ms-input-placeholder {
        color: #999ba1; }
      .contact-form-inner input::-ms-input-placeholder,
      .contact-form-inner textarea::-ms-input-placeholder {
        color: #999ba1; }
      .contact-form-inner input:focus,
      .contact-form-inner textarea:focus {
        outline: none !important;
        border: 1px solid #049cd6;
        box-shadow: 0 0 10px #c7e0f3; }
    .contact-form-inner textarea {
      padding: 16px;
      min-height: 125px;
      resize: none; }
  .contact-form-submit {
    background-color: #00aeef;
    transition: all 0.2s linear;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    min-width: 230px;
    height: 60px;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 18px; }
    .contact-form-submit:hover, .contact-form-submit:focus {
      outline: none;
      background-color: #0d9dd3; }

.wp-map {
  margin: 100px 0 105px; }
  .wp-map .title {
    margin-bottom: 50px; }

@media screen and (max-width: 575px) {
  .bg-contact {
    height: 280px; }
  .contact-inner {
    display: flex;
    flex-wrap: wrap; }
  .contact-info {
    width: 100%;
    margin-top: 0px; }
    .contact-info .title {
      font-size: 33px; }
    .contact-info .sologan {
      margin-top: 10px;
      margin-bottom: 25px;
      padding-right: 0px; }
  .contact-form {
    width: 100%;
    padding: 20px;
    margin-top: 30px; }
    .contact-form-inner {
      margin-top: 32px; }
      .contact-form-inner input,
      .contact-form-inner textarea {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 15px; }
      .contact-form-inner textarea {
        min-height: 120px; }
    .contact-form-submit {
      min-width: 180px;
      height: 55px; }
  .wp-map {
    margin: 70px 0 80px; }
    .wp-map .title {
      margin-bottom: 20px; }
    .wp-map iframe {
      height: 300px; } }

.room-head {
  padding: 0 15px; }
  .room-head .title-main {
    margin-bottom: 12px; }
  .room-head h3 {
    font-size: 14px;
    line-height: 19px;
    color: #6d6d6d;
    margin-bottom: 0; }

.room-list {
  margin-top: 50px; }

.room-item {
  margin-bottom: 90px; }
  .room-item-inner {
    display: flex;
    margin-bottom: 20px; }
  .room-item-thumbnail {
    display: block;
    margin-right: 10px; }
    .room-item-thumbnail img {
      width: 830px;
      height: 623px; }
  .room-item-gallery {
    margin-left: 10px; }
    .room-item-gallery img {
      height: 150px;
      width: 320px;
      margin-bottom: 10px; }
  .room-item-desc h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 16px; }
    .room-item-desc h3 a {
      transition: all 0.2s linear;
      color: #000; }
      .room-item-desc h3 a:hover {
        color: #00aeef; }
  .room-item-desc p {
    font-size: 14px;
    line-height: 24px;
    color: #4d4d4d;
    margin-bottom: 30px; }

.pagi.pagi-list-room {
  transform: translateY(-40px);
  margin-bottom: 70px; }

@media screen and (max-width: 575px) {
  .room-list {
    margin-top: 30px; }
  .room-item {
    margin-bottom: 45px; }
    .room-item-inner {
      display: block;
      margin-bottom: 15px; }
    .room-item-thumbnail {
      margin-right: 0px; }
      .room-item-thumbnail img {
        height: 320px; }
    .room-item-gallery {
      margin-left: 0px;
      margin-top: 10px;
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none;
      scrollbar-width: none; }
      .room-item-gallery::-webkit-scrollbar {
        display: none; }
      .room-item-gallery img {
        height: 100px;
        width: 180px;
        margin-bottom: 00px;
        margin-right: 15px;
        flex-shrink: 0;
        scroll-snap-align: start;
        scroll-snap-stop: always; }
    .room-item-desc h3 {
      font-size: 26px;
      margin-bottom: 13px; }
    .room-item-desc p {
      margin-bottom: 20px; }
    .room-item-desc button {
      min-width: 130px;
      height: 40px; }
  .pagi.pagi-list-room {
    transform: translateY(0px); } }

.wp-room-detail {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 15px; }
  .wp-room-detail .title {
    font-size: 48px;
    font-weight: bold;
    color: #262b30;
    line-height: 64px;
    margin-bottom: 0; }

.room-local-create {
  margin: 16px 0 30px; }
  .room-local-create span {
    display: inline-block;
    color: #9b9b9b;
    font-size: 14px;
    line-height: 28px;
    padding: 0 15px; }
  .room-local-create .local {
    position: relative; }
    .room-local-create .local::before, .room-local-create .local::after {
      content: "";
      position: absolute;
      height: 14px;
      width: 1px;
      background-color: #c6c6c6;
      top: 7px; }
    .room-local-create .local::before {
      right: 0; }
    .room-local-create .local::after {
      left: 0; }

.room-info {
  margin-bottom: 35px; }
  .room-info h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #262b30;
    margin-bottom: 35px; }
  .room-info p {
    color: #262b30;
    margin-bottom: 14px;
    font-size: 15px; }

.room-detail-inner img {
  margin: 30px 0; }

.room-detail-inner h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #262b30;
  margin: 30px 0 12px; }

.room-detail-inner p {
  color: #262b30;
  margin-bottom: 30px;
  line-height: 28px;
  font-size: 14px; }

.room-relative {
  margin-top: 69px; }
  .room-relative-title {
    color: #262b30;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 30px; }
  .room-relative-slider .card-post .thumbnail img {
    height: 250px; }
  .room-relative-slider .card-post .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    margin: 16px 0 12px;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-word;
    height: 60px; }
  .room-relative-slider .card-post .desc {
    font-size: 14px;
    line-height: 24px;
    color: #4d4d4d; }
  .room-relative-slider .owl-nav {
    display: block !important;
    position: absolute;
    top: 35%;
    width: 100%;
    transform: translateY(-50%);
    margin: 0; }
    .room-relative-slider .owl-nav .owl-prev {
      left: -72px; }
    .room-relative-slider .owl-nav .owl-next {
      right: -72px; }
    .room-relative-slider .owl-nav .owl-prev,
    .room-relative-slider .owl-nav .owl-next {
      position: absolute;
      background: #f0f3f4 !important;
      width: 44px;
      height: 44px;
      border-radius: 50% !important;
      color: #230b34 !important; }
      .room-relative-slider .owl-nav .owl-prev:focus,
      .room-relative-slider .owl-nav .owl-next:focus {
        outline: none; }
      .room-relative-slider .owl-nav .owl-prev:hover,
      .room-relative-slider .owl-nav .owl-next:hover {
        background: #d9d9d9 !important; }
      .room-relative-slider .owl-nav .owl-prev img,
      .room-relative-slider .owl-nav .owl-next img {
        margin: 0 auto; }
  .room-relative-slider .owl-dots {
    display: block !important;
    margin-top: 0 !important;
    position: relative;
    top: -20px; }
    .room-relative-slider .owl-dots .owl-dot:focus {
      outline: none; }
    .room-relative-slider .owl-dots .owl-dot.active span, .room-relative-slider .owl-dots .owl-dot:hover span {
      background-color: #00aeef !important; }
    .room-relative-slider .owl-dots .owl-dot span {
      width: 8px !important;
      height: 8px !important; }

@media screen and (max-width: 575px) {
  .wp-room-detail .title {
    font-size: 26px;
    line-height: 35px; }
  .room-local-create {
    margin: 10px 0 15px; }
  .room-info h3 {
    margin-bottom: 20px; }
  .room-relative {
    margin-top: 69px; }
    .room-relative-slider .owl-nav {
      display: none !important; } }
