$primary-color: #00aeef;
$secondary-color: #e6920c;

$color-text-primary: #000;
$color-text-secondary: #4d4d4d;
$color-text-third: #4d555c;

$color-dark: #242829;
$color-dusky: #2c3133;

$color-light-gray: #c4c4c4;
$color-light: #b0b0b0;
$color-medium-gray: #5b6062;

$boder-light: #c6c6c6;

// $color-dark: #0e171a;
