.button-primary {
  background-color: $secondary-color;
  @include transition;
  border-radius: 2px;
  border: none;
  min-width: 150px;
  height: 55px;
  text-align: center;
  a {
    color: $color-text-primary;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    padding: 10px;
    display: inline-block;
  }
  &:hover,
  &:focus {
    background-color: $secondary-color-hover;
  }
}
