.btn-text {
  background-color: $primary-color;
  color: #fff;
  @include transition;
  border: none;
  min-width: 14.2rem;
  height: 4.4rem;
  text-align: center;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: calc(24 / 14);
  &:hover,
  &:focus {
    outline: none;
    background-color: #0d9dd3;
  }
}
.btn-text-xs {
  min-width: 5.2rem;
  height: 2.4rem;
  text-align: center;
  border-radius: 0.4rem;
  background-color: #eaeaea;
  color: #54595e;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  border: 0;
  &:hover,
  &:focus {
    outline: none;
  }
}
