.card-post-horizontal {
  display: flex;
  margin-bottom: 30px;
  .thumbnail {
    display: block;
    flex-shrink: 0;
    img {
      width: 100%;
      max-width: 110px;
      height: 70px;
    }
  }
  .content {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-size: 14px;
      color: #262b30;
      line-height: 19px;
      display: block;
      @include textClamp(2);
      &:hover {
        color: $primary-color;
      }
    }
    .create-time {
      img {
        @include size(16.5px);
      }
    }
  }
}
