.card-post {
  margin-bottom: 50px;
  .thumbnail {
    background-color: $color-light-gray;
    display: block;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 250px;
  }
  .time {
    padding: 14px 0 10px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    img {
      @include size(15px);
    }
    span {
      padding-left: 8px;
      font-size: 12px;
      line-height: 22px;
      color: $color-text-third;
      font-weight: 400;
    }
  }
  .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: $color-text-primary;
    margin-bottom: 12px;
    @include textClamp(2);
    @include transition;
    &:hover {
      color: $primary-color !important;
    }
  }
  .desc {
    font-size: 14px;
    line-height: 24px;
    color: $color-text-secondary;
    @include textClamp(3);
  }
}
