// project detail header
.create-time {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  span {
    line-height: 20px;
    padding-left: 10px;
    font-family: "Open Sans";
    font-size: 13px;
    color: #535353;
  }
  img {
    @include size(16px);
  }
}
