.pagi {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  &-item {
    margin: 0 3px;
    text-align: center;
    cursor: pointer;
    @include transition;
    a {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: $color-medium-gray;
      line-height: 18px;
      padding: 10px 15px;
      border-radius: 06px;
      display: block;
    }
    &.is-disabled {
      color: $color-light-gray;
      pointer-events: none;
      i {
        color: #C4C4C4
      }
    }
    &:hover,
    &.is-active {
      a {
        color: #fff;
        background-color: #049cd6;
        
      }
    }
  }
}
