.list-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product {
  &-item {
    width: calc(25% - 15px);
    margin-bottom: 50px;
  }
  &-item:nth-child(n + 13) {
    margin-bottom: 38px;
  }
  &-thumbnail {
    display: block;
    margin-bottom: 12px;
    img {
      width: 100%;
      height: 278px;
      object-fit: contain;
    }
  }
  &-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #2d3436;
    margin-bottom: 8px;
    text-align: center;
    display: block;
    @include transition;
    &:hover {
      color: $primary-color;
    }
  }
  &-price {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 44px;
    &-old {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-decoration: line-through;
      color: #7b7e81;
      margin-bottom: 8px;
    }
    &-current {
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: $color-text-primary;
      margin-bottom: 0;
    }
  }
}

@include maxWidth(575px) {
  .product {
    &-item {
      width: calc(33.33% - 15px);
      margin-bottom: 30px;
    }
    &-item:nth-child(n + 13) {
      margin-bottom: 30px;
    }
    &-thumbnail {
      img {
        height: auto;
      }
    }
    &-name {
      font-size: 13px;
      @include textClamp(2);
      height: 38px;
    }
    &-price {
      height: 44px;
      &-old {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-decoration: line-through;
        color: #7b7e81;
        margin-bottom: 8px;
      }
      &-current {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $color-text-primary;
        margin-bottom: 0;
      }
    }
  }
}
