a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
input,
button {
  outline: none;
  // font-family: $primary-font;
  line-height: 1;
}
button {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
