.br-20 {
  border-radius: 20px;
  img {
    border-radius: 20px;
  }
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
