.title-product-cate {
  margin-bottom: 60px;
}
.product-cate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-item {
    width: calc(25% - 15px);
    margin-bottom: 50px;
    .thumbnail {
      display: block;
      img {
        width: 100%;
        height: 278px;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #2d3436;
      margin-top: 16px;
      margin-bottom: 0;
      text-align: center;
    }
  }
}
.product-highlight {
  &-title {
    text-align: center;
  }
  &-tab {
    margin: 16px 0 30px;
    display: flex;
    justify-content: center;
    span {
      display: block;
      color: $color-light;
      font-size: 18px;
      line-height: 24px;
      padding: 0 15px;
      @include transition;
      &:hover {
        color: #242829;
      }
      &.active {
        color: #242829;
        position: relative;
        pointer-events: none;
        &::after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%);
          height: 2px;
          width: 60px;
          background-color: $primary-color;
        }
      }
    }
    .reivew-best {
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 18px;
        width: 1px;
        background-color: #c6c6c6;
        top: 7px;
      }
      &::before {
        right: 0;
      }
      &::after {
        left: 0;
      }
    }
  }
  .btn-text {
    @include absoluteCenter("left", relative);
  }
}
.register {
  &-advise {
    background-color: #f8f8f8;
    padding: 55px 0;
    margin-top: 70px;
    margin-bottom: 105px;
  }
  &-title {
    text-align: center;
    .title-main {
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      line-height: 19px;
      color: #6d6d6d;
      margin-bottom: 0;
    }
  }
}
@include maxWidth(960px) {
  .title-product-cate {
    margin-bottom: 40px;
  }
}
@include maxWidth(575px) {
  .product-cate {
    justify-content: flex-start;
    margin: 0 -8px;
    &-item {
      width: calc(33.33% - 16px);
      margin: 0 8px 20px 8px;
      margin-bottom: 20px;
      .thumbnail {
        img {
          height: auto;
        }
      }
      h3 {
        font-weight: 600;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
  .product-highlight {
    margin-top: 30px;
    margin-bottom: 20px;
    .title-main {
      font-size: 22px;
    }
  }
  .register {
    &-advise {
      padding: 30px 0;
      margin-top: 50px;
      margin-bottom: 70px;
    }
  }
}
