.wp-product-cate {
  background-color: #f8f8f6;
}
.breadcumb-product-cate {
  margin-bottom: 33px;
}
.product-cate-head {
  margin-bottom: 46px;
  .title-big {
    margin-bottom: 6px;
    margin-top: 43px;
  }
  .slogan {
    margin-bottom: 0;
    text-align: center;
  }
}
.filter {
  &-product {
    border-top: 1px solid $color-medium-gray;
    border-bottom: 1px solid $color-medium-gray;
    margin-bottom: 50px;
  }
  &-option {
    display: flex;
  }
  &-option-item {
    border-left: 1px solid $color-medium-gray;
    margin-bottom: 0;
    padding: 21px 20px 23px;
    select {
      height: auto;
      padding: 0;
      background-color: transparent;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      color: $color-text-third;
      border: none;
      &:focus {
        box-shadow: none;
        background-color: transparent;
      }
      i {
        padding-left: 15px;
      }
    }
    &:last-child {
      text-align: center;
    }
    &:first-child {
      padding: 19px 20px 18px 20px;
    }
    img {
      display: inline-block;
    }
    .btn-filter {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: $color-text-third;
      padding-left: 10px;
      border: none;
      background: transparent;
      &:hover,
      &:focus {
        color: $secondary-color;
        @include transition;
        outline: none;
      }
    }
  }
}

.product-list {
  &-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card-product {
    width: calc(25% - 35.25px);
    margin-bottom: 47px;
  }
}
