.wp-breadcumb {
  background-color: #f1f7fa;
  margin-top: 127px;
  margin-bottom: 50px;
  .breadcrumb {
    background-color: transparent;
    &-item + .breadcrumb-item::before {
      content: "\f054";
      font-family: "FontAwesome";
      padding: 0 13px;
      font-size: 10px;
    }
    &-item {
      height: 44px;
      line-height: 44px;
      padding-left: 0;
      img {
        display: unset;
        transform: translateY(-3px);
      }
      a {
        font-size: 14px;
        color: #0f629a;
      }
    }
    &-item.active {
      color: #2b4052;
    }
  }
}

.content {
  &-title {
    font-size: 48px;
    font-weight: bold;
    color: #262b30;
    margin-bottom: 10px;
    line-height: 64px;
  }
  &-desc {
    margin: 30px 0 25px;
    p {
      font-weight: bold;
      color: #262b30;
      margin-bottom: 14px;
      font-size: 15px;
      span {
        font-weight: normal;
      }
    }
    .auth {
      margin-bottom: 23px;
      font-size: 18px;
    }
  }
  &-main {
    img {
      max-width: 100%;
      object-fit: cover;
    }
    p {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 24px;
    }
    h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 12px;
    }
    img {
      margin: 30px 0;
    }
  }
}
.sidebar {
  margin-top: 20px;
  &-title {
    color: #262b30;
    font-size: 28px;
    font-weight: 600;
    line-height: 37px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
  }
  .see-more {
    margin-top: 38px;
  }
}

.project-relative {
  // margin-top: 136px;
  margin-top: 30px;
  &-title {
    color: #262b30;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 30px;
  }
  &-slider {
    .owl-nav {
      display: block !important;
      position: absolute;
      top: 35%;
      width: 100%;
      transform: translateY(-50%);
      margin: 0;
      .owl-prev {
        left: -78px;
      }
      .owl-next {
        right: -78px;
      }
      .owl-prev,
      .owl-next {
        position: absolute;
        background: #f0f3f4 !important;
        width: 44px;
        height: 44px;
        border-radius: 50% !important;
        color: #230b34 !important;
        &:focus {
          outline: none;
        }
        &:hover {
          background: #d9d9d9 !important;
        }
        img {
          margin: 0 auto;
        }
      }
    }
    .owl-dots {
      display: block !important;
      margin-top: 0 !important;
      position: relative;
      top: -20px;
      .owl-dot {
        &:focus {
          outline: none;
        }
        &.active,
        &:hover {
          span {
            background-color: $primary-color !important;
          }
        }
        span {
          @include size(8px);
        }
      }
    }
  }
}
@include maxWidth(1024px) {
  .wp-breadcumb {
    margin-bottom: 20px;
  }
  .content {
    &-title {
      font-size: 40px;
      line-height: 50px;
    }
  }
  .project-relative {
    &-slider {
      .owl-nav {
        display: none !important;
      }
    }
  }
}
@include maxWidth(575px) {
  .content {
    &-title {
      font-size: 35px;
    }
  }
  .project-relative {
    margin-top: 40px;
    &-title {
      font-size: 25px;
      line-height: 37px;
      margin-bottom: 20px;
    }
    &-slider {
      .card-post {
        img {
          height: 190px;
          object-fit: cover;
        }
      }
    }
  }
}
