header {
  height: 150px;
}
.head-content {
  .list-cate {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      a {
        font-size: 18px;
        color: $color-light;
        padding: 0 25px;
        display: block;
        position: relative;
        line-height: 24px;
        @include transition;
        &::after {
          content: "";
          position: absolute;
          top: 2px;
          right: -2px;
          width: 1px;
          height: 20px;
          background-color: $boder-light;
          @include transition;
        }
        &::before {
          content: "";
          position: absolute;
          top: 30px;
          width: 50px;
          height: 2px;
          background-color: transparent;
          left: 50%;
          transform: translateX(-50%);
          @include transition;
        }
        &.active,
        &:hover {
          color: $color-dark;
          &::before {
            @include transition;
            background-color: $primary-color;
          }
        }
        &.active {
          pointer-events: none;
        }
      }
      &:last-child {
        a::after {
          display: none;
        }
      }
    }
  }
}
.list-project {
  margin-top: 60px;
}

@include maxWidth(1024px) {
  .head-content {
    .list-cate {
      flex-wrap: wrap;
      li {
        a {
          max-width: 140px;
          margin-bottom: 25px;
          padding: 0 17px;
          text-align: center;
          &.active {
            &::before {
              top: 27px;
              width: 45px;
            }
          }
        }
      }
    }
  }
  .list-project {
    margin-top: 20px;
    .card-post {
      margin-bottom: 30px;
      .time {
        padding: 10px 0 7px;
        // 14px 0 10px
      }
    }
  }
}
