.room {
  &-head {
    padding: 0 15px;
    .title-main {
      margin-bottom: 12px;
    }
    h3 {
      font-size: 14px;
      line-height: 19px;
      color: #6d6d6d;
      margin-bottom: 0;
    }
  }
  &-list {
    margin-top: 50px;
  }
  &-item {
    margin-bottom: 90px;
    &-inner {
      display: flex;
      margin-bottom: 20px;
    }
    &-thumbnail {
      display: block;
      margin-right: 10px;
      img {
        width: 830px;
        height: 623px;
      }
    }
    &-gallery {
      margin-left: 10px;
      img {
        height: 150px;
        width: 320px;
        margin-bottom: 10px;
      }
    }
    &-desc {
      h3 {
        font-weight: 600;
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 16px;
        a {
          @include transition;
          color: $color-text-primary;
          &:hover {
            color: $primary-color;
          }
        }
      }
      p {
        font-size: 14px;
        line-height: 24px;
        color: $color-text-secondary;
        margin-bottom: 30px;
      }
    }
  }
}
.pagi.pagi-list-room {
  transform: translateY(-40px);
  margin-bottom: 70px;
}
@include maxWidth(575px) {
  .room {
    &-list {
      margin-top: 30px;
    }
    &-item {
      margin-bottom: 45px;
      &-inner {
        display: block;
        margin-bottom: 15px;
      }
      &-thumbnail {
        margin-right: 0px;
        img {
          height: 320px;
        }
      }
      &-gallery {
        margin-left: 0px;
        margin-top: 10px;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        @include hideScroll;
        img {
          height: 100px;
          width: 180px;
          margin-bottom: 00px;
          margin-right: 15px;
          flex-shrink: 0;
          scroll-snap-align: start;
          scroll-snap-stop: always;
        }
      }
      &-desc {
        h3 {
          font-size: 26px;
          margin-bottom: 13px;
        }
        p {
          margin-bottom: 20px;
        }
        button {
          min-width: 130px;
          height: 40px;
        }
      }
    }
  }
  .pagi.pagi-list-room {
    transform: translateY(0px);
  }
}
